@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&subset=japanese');
@import "bootstrap";
@import url("responsive.css") screen and (max-width: 768px);

// 全体の設定 ここから
*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;//10px
}
body{
    font-size: 1.6rem;//16px
    font-family: 'Noto Serif JP', serif;
}
p{
    font-size: 1.6rem;//16px
}
#wrapper{
  width: 100%
}
.fas{
  padding-right: 0.8rem;
}
.far{
  padding-right: 0.8rem;
}
h2{
  color: #0710B2;
  font-size: 3.2rem;
}
// ナビゲーションここから
// .navbar-brand img{
//   padding-left: 280px;
// }
  h1{//h1の文字隠し
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  }
  // ナビゲーションメニュー
.nav-link{
  color: #0710B2;//文字色変える
}
.nav-link:hover{//ホバー時の文字色
    background-color: #FFD015;
    color:#0710B2;//文字色
  }
.navbar-toggler{
  color: #0710B2;
}
//ナビゲーションここまで
//mainここから
//heroImgの変更ここから
.hero {
  margin-top: 54px ;
  width: 1140px;
  height: 800px;
  background: url("../images/hero.jpg") center center no-repeat;
}
.phase{//文字の指定
  color: #FFF;
  padding-top: 320px;
  padding-left: 100px;
  text-shadow: 5px 5px 2px grey;
}
.phase h2{
  font-size: 4.5rem;
  padding-bottom: 2.5rem;
  color:#FFF;
}
.phase p{
  font-size: 3.2rem;
  text-shadow: 5px 5px 2px grey;
}
//heroImgの変更ここまで
//about usここから
.shop{//店内写真
  width: 640px;
  height: 480px;
  background: url("../images/photo01.jpg") 0 0 no-repeat;
}
.about{
  margin-top: 10.0rem;
}
.aboutcontainer{
    display: flex;
    justify-content: stretch;
    margin-top: 5rem;
}
.aboutdescription{
      padding-left: 7rem;
}
.aboutdescription h3{
        margin-bottom: 2rem;
        font-size: 1.8rem;
      }
//about usここまで
//.infoここから
.info{
  margin-top:10rem;
  display: flex;
  justify-content: stretch;
}
.hour table{
  margin-top: 5rem;
  width: 50rem;
  height: 20rem;
}
.access {
  margin-left: 7rem;
}
.access p{
  margin-top: 5rem;
}
iframe{
    margin-top: .5rem;
  }
//.infoここまで
//mainここまで
//footerここから
footer {
  margin-top: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align:center;
  border-top: dotted 1px #0710B2;
}
//footerここまで